.edit-delete-container {
  margin: 20px 0px;
}

.edit-delete-container a, .edit-delete-container span {
  margin-right: 10px;
  color: crimson;
  text-decoration: none;
  cursor: pointer;
}

.bookmark {
  padding: 10px;
}